@import "../../sass/main";

.about-page {
  .banner {
    margin: 0 14rem;

    @include respond(tab-land) {
      border-radius: 10px;
      margin: 0 auto;
      width: 93%;
    }

    @include respond(tab-port) {
      width: 96%;
      border-radius: 10px;
    }

    @include respond(phone) {
      width: 90%;
      height: 223px;
    }
  }

  .content {
    padding: 0.5rem 4rem 3rem;

    @include respond(tab-port) {
      padding: 0.5rem 2rem 2rem;
    }

    @include respond(phone) {
      padding: 0 0 2rem;
    }
  }
}