@import "../../sass/main";

.logement {
  min-width: 100vw;
  margin: 20px auto;

  .slideshow .banner {
    width: 100%;
    height: 415px;
    margin: 0;

    @include respond(tab-port) {
      height: 350px;
    }

    @include respond(phone) {
      height: 255px;
    }
  }

  .logement-host-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1160px;
    margin: 0 auto;

    @include respond(tab-land) {
      width: 93%;
    }

    @include respond(tab-port) {
      width: 96%;
    }

    @include respond(phone) {
      width: 91%;
      flex-direction: column;
    }

    .host-info {
      @include respond(phone) {
        display: none;
      }
    }
  }

  .logement-info {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    color: #FF6060;
  }

  .logement-title {
    font-size: 36px;
    margin-bottom: 5px;

    @include respond(phone) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  .logement-location {
    font-size: 18px;

    @include respond(phone) {
      font-size: 14px;
    }
  }

  .host-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FF6060;
  }

  .host-name {
    font-size: 18px;
    text-align: right;
    margin-right: 8px;

    @include respond(phone) {
      font-size: 12px;
    }
  }

  .host-picture img {
    width: 64px;
    height: 64px;
    border-radius: 50%;

    @include respond(phone) {
      width: 32px;
      height: 32px;
    }
  }

  .tags-ratings-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1160px;
    margin: 10px auto 0;

    @include respond(tab-land) {
      width: 93%;
    }

    @include respond(tab-port) {
      width: 96%;
    }

    @include respond(phone) {
      width: 91%;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0;
    }
  }

  .logement-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .tag {
    display: flex;
    align-items: center;
    height: 25px;
    background-color: #FF6060;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;

    @include respond(phone) {
      height: 18px;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 10px;
    }
  }

  .logement-rating {
    .etoile {
      width: 24.75px;
      height: 24px;
      margin-left: 5px;

      @include respond(phone) {
        width: 13.41px;
        height: 13px;
      }
    }

    .etoile:first-child {
      margin-left: 0;

      @include respond(phone) {
        margin-left: 5px;
      }
    }
  }
  
  .rating-host-container {
    .host-info-phone{
      display: none;
  
      @include respond(phone) {
        display: flex;
      }
    }

    @include respond(phone) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-top: 20px;
    }
  }

  .logement-collapses {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 80%;
    max-width: 1160px;
    margin: 0 auto 40px;

    @include respond(tab-land) {
      width: 93%;
    }

    @include respond(tab-port) {
      width: 96%;
    }

    @include respond(phone) {
      width: 100%;
      flex-direction: column;
      gap: 0%;
      margin: 0 auto 20px;
    }

    .collapse {
      @include respond(phone) {
        margin: 13px auto;
      }
    }
  }

  .etoile {
    fill: #FF6060;
  }

  .etoile.gris {
    fill: #E3E3E3;
  }
}
