.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 43px 14rem;

  .logo {
    img {
      width: 210px; 
    }
  }

  .nav {
    display: flex;
    align-items: center; 

    &__link {
      color: #FF6060;
      text-decoration: none;
      margin-left: 20px;
      font-size: 24px;
  
      &.active {
        border-bottom: 2px solid #FF6060; 
      }
    }
  }  
}