.footer {
  height: 209px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;

  .logo {
    margin-top: 20px;
    img {
      width: 122px; 
    }
  }

  .footer-text {
    color: white;
    font-size: 20px;
    margin-top: 68px;
  }
}